<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016309120383-47f7eme6goe4tsp09dkui3r4ulac4ss3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016309120383-47f7eme6goe4tsp09dkui3r4ulac4ss3</string>
	<key>API_KEY</key>
	<string>AIzaSyCeAUG2aLgEjAIBdOK-nmjVsum4v3q0Sss</string>
	<key>GCM_SENDER_ID</key>
	<string>1016309120383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PizzaZP</string>
	<key>PROJECT_ID</key>
	<string>pizzakarym</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzakarym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016309120383:ios:3aa0ec970843adafbc6e4a</string>
</dict>
</plist>